@{
    ViewData["Title"] = "Movie List";
}
<title>@ViewData["Title"] - Movie App</title>

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
<img src="https://i.pinimg.com/564x/83/74/0f/83740fb58ae61d6fe7a770503d1a0ada.jpg" alt="Ok">